<div class="topics-list">
  <h3>Browse Topics</h3>
  <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
  {% for topic in topics %}
  <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} <span>{{topic.room_set.all.count}}</span></a>
  {% endfor %}
  <a class="more-link" href="{% url 'topics' %}">
    More
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>
  </a>
</div>
